@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this at the end of the file */
* {
    scroll-behavior: auto;
    scrollbar-width: thin
}

@layer base {
    :root {
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

:root {
    --tw-bg-opacity: 1;
    --primary: rgb(59 130 246 / var(--tw-bg-opacity, 1));
    --secondary: white;
    --background: rgb(243 244 246 / var(--tw-bg-opacity, 1));
    --foreground: rgb(24, 24, 27);
    --foreground-text: rgb(250, 250, 250);
    --accent: #d6d7db;
    --input: #e5e7eb;
    --input-hover: #9e9e9f;
}

::-webkit-file-upload-button {
    cursor:pointer;
}

.page-main-content {
    scrollbar-gutter: stable both-edges;
}